In [ ]:
pip install pandas

In [ ]:
pip install numpy

In [1]:
import pandas as pd
import numpy as np

In [18]:
building = pd.read_csv('C://Users//krist//Downloads//building_metadata(1).csv.gz')
print (building.head())

   site_id  building_id primary_use  square_feet  year_built  floor_count
0        0            0   Education         7432      2008.0          NaN
1        0            1   Education         2720      2004.0          NaN
2        0            2   Education         5376      1991.0          NaN
3        0            3   Education        23685      2002.0          NaN
4        0            4   Education       116607      1975.0          NaN

In [19]:
weather = pd.read_csv('C://Users//krist//Downloads//weather_train(1).csv.gz')
print (weather.head())

   site_id            timestamp  air_temperature  cloud_coverage  \
0        0  2016-01-01 00:00:00             25.0             6.0
1        0  2016-01-01 01:00:00             24.4             NaN
2        0  2016-01-01 02:00:00             22.8             2.0
3        0  2016-01-01 03:00:00             21.1             2.0
4        0  2016-01-01 04:00:00             20.0             2.0

   dew_temperature  precip_depth_1_hr  sea_level_pressure  wind_direction  \
0             20.0                NaN              1019.7             0.0
1             21.1               -1.0              1020.2            70.0
2             21.1                0.0              1020.2             0.0
3             20.6                0.0              1020.1             0.0
4             20.0               -1.0              1020.0           250.0

   wind_speed
0         0.0
1         1.5
2         0.0
3         0.0
4         2.6

In [20]:
energy_0 = pd.read_csv('C://Users//krist//Downloads//train.0.0(2).csv.gz')
print (energy_0.head())

   building_id  meter            timestamp  meter_reading
0            0      0  2016-01-01 00:00:00            0.0
1            0      0  2016-01-01 01:00:00            0.0
2            0      0  2016-01-01 02:00:00            0.0
3            0      0  2016-01-01 03:00:00            0.0
4            0      0  2016-01-01 04:00:00            0.0

#Объединение потребление энергии и инфо о здании
# по building_id

In [21]:
energy_0 = pd.merge(left=energy_0, right=building, how='left', left_on="building_id", right_on="building_id")
print (energy_0.head())

   building_id  meter            timestamp  meter_reading  site_id  \
0            0      0  2016-01-01 00:00:00            0.0        0
1            0      0  2016-01-01 01:00:00            0.0        0
2            0      0  2016-01-01 02:00:00            0.0        0
3            0      0  2016-01-01 03:00:00            0.0        0
4            0      0  2016-01-01 04:00:00            0.0        0

  primary_use  square_feet  year_built  floor_count
0   Education         7432      2008.0          NaN
1   Education         7432      2008.0          NaN
2   Education         7432      2008.0          NaN
3   Education         7432      2008.0          NaN
4   Education         7432      2008.0          NaN

#вставим индексы на объединение timestamp, site_id

In [22]:
energy_0.set_index(["timestamp", "site_id"], inplace=True)
weather.set_index(["timestamp', 'site_id'], inplace=True)

#Проведем объединение и сбросим индексы

In [23]:
energy_0 = pd.merge(left=energy_0, right=weather, how='left', left_index=True, right_index=True)
energy_0.reset_index(inplace=True)
print (energy_0.head())

             timestamp  site_id  building_id  meter  meter_reading  \
0  2016-01-01 00:00:00        0            0      0            0.0
1  2016-01-01 01:00:00        0            0      0            0.0
2  2016-01-01 02:00:00        0            0      0            0.0
3  2016-01-01 03:00:00        0            0      0            0.0
4  2016-01-01 04:00:00        0            0      0            0.0

  primary_use  square_feet  year_built  floor_count  air_temperature  \
0   Education         7432      2008.0          NaN             25.0
1   Education         7432      2008.0          NaN             24.4
2   Education         7432      2008.0          NaN             22.8
3   Education         7432      2008.0          NaN             21.1
4   Education         7432      2008.0          NaN             20.0

   cloud_coverage  dew_temperature  precip_depth_1_hr  sea_level_pressure  \
0             6.0             20.0                NaN              1019.7
1             NaN             21.1               -1.0              1020.2
2             2.0             21.1                0.0              1020.2
3             2.0             20.6                0.0              1020.1
4             2.0             20.0               -1.0              1020.0

   wind_direction  wind_speed
0             0.0         0.0
1            70.0         1.5
2             0.0         0.0
3             0.0         0.0
4           250.0         2.6

In [29]:
energy_0['air_temperature'].fillna(0,inplace=True)
energy_0['cloud_coverage'].fillna(0,inplace=True)
energy_0['dew_temperature'].fillna(0,inplace=True)
energy_0['precip_depth_1_hr']=energy_0['precip_depth_1_hr'].apply(lambda x:x if x>0 else 0)
energy_0_sea_level_pressure_mean =energy_0['sea_level_pressure'].mean
energy_0['sea_level_pressure']=energy_0['sea_level_pressure'].apply(lambda x:energy_0_sea_level_pressure_mean if x!=x else x)
energy_0_wind_direction_mean =energy_0['wind_direction'].mean
energy_0['wind_direction']=energy_0['wind_direction'].apply(lambda x:energy_0_wind_direction_mean if x!=x else x)
energy_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   timestamp           8784 non-null   object
 1   site_id             8784 non-null   int64
 2   building_id         8784 non-null   int64
 3   meter               8784 non-null   int64
 4   meter_reading       8784 non-null   float64
 5   primary_use         8784 non-null   object
 6   square_feet         8784 non-null   int64
 7   year_built          8784 non-null   float64
 8   floor_count         0 non-null      float64
 9   air_temperature     8784 non-null   float64
 10  cloud_coverage      8784 non-null   float64
 11  dew_temperature     8784 non-null   float64
 12  precip_depth_1_hr   8784 non-null   float64
 13  sea_level_pressure  8784 non-null   object
 14  wind_direction      8784 non-null   object
 15  wind_speed          8784 non-null   float64
dtypes: float64(8), int64(4), object(4)
memory usage: 1.1+ MB

In [31]:
energy_0.to_csv('energy_0.csv',index=False)

In [1]:
pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.2.1-cp311-cp311-win_amd64.whl (8.2 MB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\krist\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.24.2)
Collecting scipy>=1.3.2
  Using cached scipy-1.10.0-cp311-cp311-win_amd64.whl (42.2 MB)
Collecting joblib>=1.1.1
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.2.1 scipy-1.10.0 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip